.background-video{
 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index:-30;
}

image{
    height:200px;
    width:400px;
}
.card-text{
    white-space: pre;
}
.background-card{
    background:rgba(0,0,0,0.356);
    margin-right: -20px;
    
}
.navbar{
    
     background:rgba(0, 0, 0, 0.788);
      position:fixed;
      width:100%;
      height:80px;
     
}
.navbar-brand{
   margin-top:-50px; 
  margin-left:580px;

 
  
    
}
.dropdown{
    margin-top:-50px;
}
.heart{
    position:absolute;
     margin-top:10px;
    margin-left:130px;
    z-index:-30;
 
}

.icons{
    position:absolute;
    color:white;

    
}
.characters{
    margin-top:110px;
}

h2{
    border-bottom:1px solid white;
     font-family: 'Poller One', cursive;
     font-size:30px;
     
  
   
}

.characterdetails{
     border-top:1px solid white;
    margin-top:50px;
 
}
.main-info{
    margin-top:150px;
    margin-left:800px;
    margin-right:80px;
    
}
.background-image{
      position: fixed;
 z-index:-30;
  min-width: 100%;
  min-height: 100%;

}
.gif{
  
    margin-left:-690px;
    margin-top:-20px;
    

}
.detail-title{
    margin-top:-400px;
}